.recipe-page {
  display: flex;
  flex-direction: column;
  gap:40px;
  align-items: center;

  .recipe-header {
    background: #ffffff;
    width: 630px;
    height: 520px;
    border-radius: 25px;
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);

    .recipe-img {
      border-radius: 25px 25px 0 0;
      overflow: hidden;
      width: 100%;
      height: 410px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .recipe-name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 110px;
      font-size: 30px;
    }
  }

  .recipe-info-container {
    display: flex;
    gap: 35px;

    .recipe-info {
      width: 330px;
      height: 60px;
      background: #FFFFFF;
      box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding: 0px 0px 0px 20px;

      .material-symbols-outlined {
        color: var(--color-main);
        font-size: 40px;
      }

      .recipe-legend {
        width: 100%;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .material-symbols-outlined {
          font-size: 35px;
          color: black;
        }
      }
    }
  }


  .ingredient-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;

    .ingredient {
      display: flex;
      width: 150px;
      height: 210px;
      flex-direction: column;
      background: #ffffff;
      border-radius: 25px;
      box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
      align-items: center;

      .ingredient-img {
        border-radius: 25px 25px 0 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 100%;
        height: 125px;

        img {
          width: 100%;
        }
      }

      .ingredient-info {
        display: flex;
        flex-direction: column;
        font-size: 19px;
        text-align: center;
        height: 85px;
        width: 100%;
        justify-content: space-evenly;

        .ingredient-unit {
          color: var(--color-main);
        }
      }
    }
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;

    .step-box {
      display: flex;
      flex-direction: column;

      .step-number {
        font-size: 23px;
        font-weight: normal;
      }
    }
  }

}

