<div class="recipe-page" *ngIf="singleRecipe$ | async as singleRecipe">
  <div class="recipe-header">
    <div class="recipe-img">
      <img src="assets/recipes/{{ singleRecipe.id_recipe }}.png" alt="{{ singleRecipe.name }}">
    </div>
    <div class="recipe-name">
      <span>{{singleRecipe.name}}</span>
    </div>
  </div>

  <div class="recipe-info-container">
    <div class="recipe-info">
      <span class="material-symbols-outlined">group</span>
      <div class="recipe-legend">
        <span class="material-symbols-outlined">add</span>
        <span>4 personnes</span>
        <span class="material-symbols-outlined">remove</span>
      </div>
    </div>
    <div class="recipe-info">
      <span class="material-symbols-outlined">timer</span>
      <div class="recipe-legend">
        <span>Temps : {{ singleRecipe.time | time }}</span>
      </div>
    </div>
    <div class="recipe-info">
      <span class="material-symbols-outlined">list</span>
      <div class="recipe-legend">
        <span>Catégorie : {{singleRecipe.type.name}}</span>
      </div>
    </div>
  </div>


  <h1>Ingrédients</h1>
  <div class="ingredient-container">
    <div class="ingredient" *ngFor="let tester of singleRecipe.ingredientsMeasures">
      <div class="ingredient-img">
        <img src="assets/ingredients/{{ tester.ingredients.id_ingredient }}.png" alt="{{ tester.ingredients.name }}">
      </div>
      <div class="ingredient-info">
        {{tester.ingredients.name}}
        <div class="ingredient-unit">
          {{tester.quantity}}
          {{tester.units.name}}
        </div>
      </div>
    </div>
  </div>

  <h1>Etapes</h1>
  <div class="steps-container">
    <div class="step-box" *ngFor="let step of singleRecipe.steps">
      <span class="step-number">Étape {{step.step_order}}</span>
      {{step.descr}}
    </div>
  </div>
</div>
