.step-panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
}

.recipe-add-header {
  display: flex;
  gap: 30px;

  .add-image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .add-img {
      width: 300px;
      height: 300px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-radius: 15px;
    }
  }

  .recipe-info-container {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .recipe-form-info {
      display: flex;
      flex-direction: column;

    }
  }
}


.recipe-container {
  display: flex;
  width: 100%;
  gap: 20px;

  .steps-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;


    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      color: #ee3838;
      font-size: 33px;
    }

    .mat-form-field {
      width: 100%;
    }
  }

  .ingredient-part {
    width: 100%;

    .ingredient-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .ingredient-box {
        width: 125px;
        height: 200px;
        background: #FFFFFF;
        box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .ingredient-img {
          width: 125px;
          height: 90px;
          overflow: hidden;
          display: flex;
          border-radius: 15px 15px 0 0;
          align-items: center;

          img {
            width: 100%;
          }
        }

        .unit-field {
          width: 114px;
        }
      }
    }
  }
}
