<div class="modify-ingredient">
  <div class="title-box">
    <span class="title">Modifier un ingrédient</span>
    <span class="material-symbols-outlined" (click)="onDelete()">delete</span>
  </div>
  <div class="ingredient-box">
    <div class="ingredient-img-container">
      <span class="subtitle">Image</span>
      <div class="ingredient-img">
        <img [src]="ingredient.image" alt="{{ingredient.name}}">
      </div>
      <input type="file" (change)="onFileUpload($event)">
    </div>
    <div class="ingredient-info-box">
      <span class="subtitle">Informations</span>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Nom</mat-label>
        <input maxlength="40" required matInput value="{{ingredient.name}}" [(ngModel)]="ingredient.name" >
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Catégorie</mat-label>
        <mat-select [(ngModel)]="ingredient.category.id">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="button-box">
    <button class="cancel-button" routerLink="/ingredients">Annuler</button>
    <button class="confirm-button" (click)="onSave(ingredient)">Valider</button>
  </div>
</div>



