<mat-form-field appearance="fill">
  <mat-label panelClass="example-panel">Filtrer les ingrédients</mat-label>
  <mat-select [(value)]="categorySelected" (valueChange)="onCategorySelected()">
    <mat-option></mat-option>
    <mat-option *ngFor="let category of categories$ | async" [value]="category.id_category">
      {{ category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div class="child-container">

  <div class="add-ingredient-card" (click)="openDialog()">
    <div class="add-ingredient-header">
      <span class="material-symbols-rounded">add_circle</span>
    </div>
    <div class="add-ingredient-text">
      <span>Ajouter un ingrédient</span>
    </div>
  </div>

  <app-ingredient-card *ngFor="let ingredientCard of ingredientCards$ | async" [ingredientCard]="ingredientCard">
  </app-ingredient-card>
</div>
