.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .add-box {
    display: flex;
    gap: 30px;
    justify-content: center;

    .add-image-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .add-img {
        width: 350px;
        height: 350px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 15px;
      }
    }

    .add-info {
      display: flex;
      gap: 10px;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;

        .field {
          width: 300px;
        }
      }
    }

  }
}
