.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .add-box {

    .add-img {
      overflow: hidden;
    }

    .add-info {

      form {
        display: flex;
        flex-direction: column;
      }
    }

  }
}
