<div>
  <h1>Ajouter un ingrédient</h1>

    <div class="dialog-container">
      <div class="dialog-img">
        <h3>Choisir une image</h3>
        <input type="file" (change)="onFileUpload($event)">
        <img [src]="add_image" alt="add">
      </div>
      <div class="dialog-info">
        <h3>Informations</h3>
        <form [formGroup]="ingredientForm">
          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Catégorie</mat-label>
           <mat-select formControlName="categoryId">
              <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                {{ category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>


    <div class="dialog-button-box">
      <button mat-flat-button color="warn">Annuler</button>
      <button mat-flat-button color="primary" (click)="onSubmitForm()">Valider</button>
    </div>
</div>

