
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Recipe-primary: mat.define-palette(mat.$indigo-palette);
$Recipe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Recipe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Recipe-theme: mat.define-light-theme((
  color: (
    primary: $Recipe-primary,
    accent: $Recipe-accent,
    warn: $Recipe-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Recipe-theme);

.child-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

:root {
  --color-main : #243569;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', "Helvetica Neue", sans-serif!important;
  background: #FFFEFC;
}



.button-box {
  display: flex;
  justify-content: space-around;
  gap: 50px;

  button {
    width: 200px;
    height: 70px;
    font-size: 24px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;

    &.confirm-button {
      background: #243569;
      color: white;
      justify-content: center;
    }

    &.delete-button {
      justify-content: space-evenly;
      border: 3px solid #fc031f;
      color: #fc031f;
      background: none;

      .material-symbols-outlined {
        font-variation-settings: 'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        color: #fc031f;
        font-size: 40px;
      }
    }
  }
}
