@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();
$Recipe-primary: mat.define-palette(mat.$indigo-palette);
$Recipe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Recipe-warn: mat.define-palette(mat.$red-palette);

$Recipe-theme: mat.define-light-theme((
  color: (
    primary: $Recipe-primary,
    accent: $Recipe-accent,
    warn: $Recipe-warn,
  ),
));


$custom-typography: mat.define-typography-config(
  $font-family: 'Red Hat Display'
);

@include angular-material-typography($custom-typography);
@include mat.all-component-themes($Recipe-theme);

body {
  height: 100%;
  margin: 0;
  background: #FFFEFC;
}

.child-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.subtitle {
  font-size: 18px;
}

.title {
  color: #243569;
  font-size: 28px;
}


.button-box {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.search {
  width: 380px;
}

button {
  width: 170px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;

  &.confirm-button {
    background: #243569;
    color: white;
    justify-content: center;
  }

  &.delete-button {
    justify-content: space-evenly;
    color: white;
    background: #eb162e;

  }
  &.cancel-button {
    color: #243569;
    background: none;
    border: solid 2px #243569;
    justify-content: center;
  }
  &.modify-button {
    background: #243569;
    color: white;
    justify-content: space-evenly;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: white;
    font-size: 33px;
  }
}

.error-snackbar {
  background: #ee3838;
  color: white;
}

.valid-snackbar {
  background: #243569;
  color: white;
}
