* {
  font-family: 'Red Hat Display',Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #FFFEFC;
}

.child-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

:root {
  --color-main : #243569;
}
