<div class="dialog">
  <span class="dialog-title" mat-dialog-title>Supprimer un ingrédient</span>


  <mat-dialog-content>
    <div class="dialog-content">
      <div class="dialog-img">
        <img src="assets/ingredients/{{data.id}}.png" alt="{{data.name}}">
      </div>
      <div class="dialog-info">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input disabled matInput value="{{data.name}}">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>



  <mat-dialog-actions>
    <div class="button-box">
      <button class="delete-button" mat-dialog-close="">Annuler</button>
      <button class="confirm-button" (click)="onDelete(data)">Valider</button>
    </div>
  </mat-dialog-actions>
</div>
