.dialog {

  .dialog-title {
    text-align: center;
    font-size: 25px;
  }

  .dialog-content {
    display: flex;
  }

  .dialog-button-box {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .mat-flat-button {
      width: 170px;
      height: 60px;
      font-size: 20px;
      border-radius: 15px;
    }
  }
}
