.dialog {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  gap: 25px;

  .dialog-title {
    text-align: center;
    font-size: 25px;
  }

  .dialog-content {
    display: flex;
    gap: 30px;
    justify-content: center;

    .dialog-img {

      img {
        border-radius: 15px;
      }
    }
  }
  .button-box {
    width: 100%;
  }
}
