<div class="filter-container">
  <mat-form-field class="search" appearance="outline">
    <mat-label>Rechercher une recette</mat-label>
    <input matInput (change)="onChange()" [(ngModel)]="nameSelected">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Filtrer les recettes</mat-label>
    <mat-select [(value)]="typeSelected" (valueChange)="onChange()">
      <mat-option></mat-option>
      <mat-option *ngFor="let type of types" [value]="type.id">
        {{ type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="child-container">
  <div class="add-recipe-card" routerLink="add">
    <div class="add-recipe-header">
      <span class="material-symbols-rounded">add_circle</span>
    </div>
    <div class="add-recipe-text">
      <span>Ajouter une nouvelle recette</span>
    </div>
  </div>

  <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-card>
</div>
