.delete-box {
  display: flex;
  justify-content: center;
}

.ingredient-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .ingredient-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .ingredient-img {
      display: flex;
      flex-direction: column;
      width: 350px;
      height: 350px;

      img {
        border-radius: 15px;
      }
    }
  }

  .ingredient-info-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
  }

  .button-box {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
}
