<div class="delete-box">
  <h1>Modifier un ingrédient</h1>
</div>
<div class="ingredient-box" *ngIf="ingredients$ | async as ingredient">
  <span>Choisir une image</span>
  <div class="recipe-img">
    <img [src]="ingredient.image" alt="{{ingredient.name}}">
  </div>

  <div class="recipe-information-box">
    <span class="subtitle">Informations</span>
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input required matInput value="{{ingredient.name}}" [(ngModel)]="ingredient.name" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Catégorie</mat-label>
      <mat-select [(ngModel)]="ingredient.category.id">
        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
          {{ category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="button-box">
    <button class="delete-button" (click)="onDelete(ingredient)">
      <span class="material-symbols-outlined">delete_forever</span>
      Supprimer
    </button>
    <button class="confirm-button" (click)="onSave(ingredient)">Valider</button>
  </div>
</div>



